<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enrollment | HealthApp</title>
    <%- include("../helpers/bootstrap.ejs") %>
</head>

<body>
    <%- include("../helpers/navigation.ejs") %>
    <div class="container">
        <div id="enrollment-response" data-success="<%= data.enrollMessage %>"
            data-failure="<%= data.failedEnrollMessage %>"></div>
        <%- include("successModal.ejs") %>
        <h1>Please fill data in the form below:</h1>
        <hr>
        <form method="POST" action="/enrollment">
            <div id="subscriber-info">
                <%- include("./subscriberForm.ejs") %>
            </div>
            <div id="dependentInfo" class="">
                <%- include("dependentForm.ejs") %>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <script src="javascripts/enrollment/index.js"></script>
</body>

</html>